.cart-body{
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    // 地址栏
    .address{
        height: 0.68rem;
        @include flexbox();
        @include align-items(center);
        background-color: #fff;
        >p{
            position: absolute;
            top:0;
            width: 100%;
            height: 0.02rem;
            background: url("https://static.dmall.com/kayak-project/cart/dist/cart/common/image/shoppingline.png")
            repeat-x;
            background-size: auto 2px;
        }
        >div{
            width: 100%;
            @include flexbox();
            @include justify-content(space-between);
            @include align-items(center);
            margin-left: .1rem;
            >div{
                P:nth-of-type(1){
                    font-size:.16rem;
                }
                P:nth-of-type(2){
                    font-size:.13rem;
                    color:#888;
                }
            }
        
            >i{
                margin-right: .05rem;
                color:#ccc;
            }
        }
    }
    // 足迹
    .footmark{
        width: 0.57rem;
        height: 0.57rem;
        border-radius: 50%;
        border:1px solid #aaa;
        position: absolute;
        bottom:.6rem;
        right:.1rem;
        background-color: #fff;
        box-shadow: 1px 1px 1px #fff;
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        color:#888;
        i{
            position: absolute;
            font-size:.25rem;
            top:.03rem;
        }
        span{
            position: absolute;
            font-size:.12rem;
            bottom:.06rem;
        }
    }
    // 无商品
    .no-product{
        width: 100%;
        height: 2.78rem;
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        display:none;
        >div{
            position: relative;
            @include flexbox();
            @include flex-direction(column);
            >img{
                width: 1rem;
            }
            p{
                margin-top: .15rem;
                color:#888;
            }
            >button{
                position: absolute;
                width: 1.16rem;
                height: 0.44rem;
                background-color: #ff8143;
                border:none;
                border-radius:.05rem;
                bottom:-.69rem;
                color:#fff;
            }
        }
    }
    //商品样式
    .pro-list{
        margin-top: .1rem;
        background-color: #fff;
        .store{
            width: 100%;
            height: 0.44rem;
            @include flexbox();
            @include align-items(center);
            padding-left:.1rem;
            span{
                @include flexbox();
                @include justify-content(center);
                @include align-items(center);
                width: 0.2rem;
                height: 0.2rem;
                border-radius: 50%;
                border:1px solid #ccc;
               
                i{
                    color:#fff;
                }
            }
            img{
                margin-left: .1rem;
                width: 0.29rem;
            }
            p{
                height: .44rem;
                width: 2.75rem;
                margin-left: .1rem;
                line-height: .49rem;
                color:#777;
            }
            >i{
                color:#ccc;
            }
        }
        >div{
            width: 100%;
            height: 0.66rem;
            @include flexbox();
            @include align-items(center);
            border-bottom:.01rem solid #eee;
            padding-left:.1rem;
            >span{
                width: 0.2rem;
                height: 0.2rem;
                border-radius: 50%;
                border:1px solid #ccc;
                @include flexbox();
                @include justify-content(center);
                @include align-items(center);
                i{
                    color:#fff;
                }
            }
            >div:nth-of-type(1){
                width: 2.25rem;
                margin-left: .1rem;
                p{
                    @include ellipsis();
                }
                b{
                    font-size:.16rem;
                }
            }
            >div:nth-of-type(2){
                button{
                    width: .27rem;
                    height: .23rem;
                    line-height: .23rem;
                    border:.01rem solid #ff8143;
                    border-radius: .03rem;
                    font-size:.2rem;
                    color:#ff8143;
                    background-color: #fff;
                }
                span{
                    display:inline-block;
                    width: .3rem;
                    height: .23rem;
                    text-align: center;
                    font-weight:bold;
                    line-height: .3rem;
                    font-size:.16rem;
                }

            }
           //选中时加类名
            .active{
            background-color: #ff8143;
            border:none;
        }
        }
         
        
        
    }
    //选好了
    .has-selected{
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        padding-left:.1rem;
        background-color: #fff;
        height: .65rem;
        >div{
            >p{
                color:#ff8143;
                >b{
                    font-weight: bold;
                    font-size:.2rem;
                }
            }
            >span{
                font-size:.12rem;
                color:#777;
            }
        }   
        button{
            width: 0.88rem;
            height: 0.44rem;
            float: right;
            border:none;
            border-radius: .05rem;
            margin-right: .1rem;
            color:#fff;
        }
        .ok-select{
            background-color: #ff8143;
        }
    }





}
