.search_t{
    display: flex;
    justify-content:space-between;
    margin: .08rem .16rem 0 .16rem;
   i{
       display: flex;
       width: .25rem;
       height: .25rem;
       background: black;
       color: white;
       border-radius: 50%;
       justify-content: center;
       align-items: center;
   }
   .search_i{
       background: white;
       color: #ccc;
   }
    input{
       width: 3.06rem;
       background: #f6f6f6;
       border-radius: .2rem;
       text-indent: .2rem;
       border: none;
    }
}

.search_c,.search_b{
    margin: .1rem   .1rem .1rem .1rem;

}
.search_b{
    .search_list{
        justify-content: flex-start;
        li{
            border-radius: .2rem;
           margin-left: .05rem;
           font-size: .16rem;
           background: #f9f9f9;
           padding: .05rem;
           height: .3rem;
           border-color: #e8e9e9;
           color: #808080;
        }
    }
}
.home-container{
    ul{
        li{
            float: left;
            padding: 0 .21rem;
        }
    }
}