.search_con p {
  display: flex;
  justify-content: space-around;
  line-height: .46rem;
  border-bottom: .01rem solid #ccc;
}

.search_con ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search_con ul li {
  width: 50%;
  height: 2.52rem;
  display: flex;
  justify-content: space-between;
}

.search_con ul li img {
  width: 1.52rem;
}

.search_con ul li p {
  text-indent: .2rem;
  border-bottom: none;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.search_con ul li .addProduct {
  justify-content: space-between;
  align-items: center;
}

.search_con ul li .addProduct .add_pro {
  display: inline-block;
  text-indent: 0;
  width: .24rem;
  line-height: .2rem;
  border: 1px solid red;
  font-size: .16rem;
  text-align: center;
  color: red;
  margin-right: .05rem;
}
