<div class="cart-body">
    <!-- 地址栏 -->
    <div class="address">
        <p></p>
        <div>
            <div>
                <p>多点君需要你的详细地址哟</p>
                <p>送至：昌平(地铁站)</p>
            </div>
            <i class="iconfont">&#xe644;</i>
        </div>
    </div>

    <!-- 足迹 -->
    <div class="footmark">
       <i class="iconfont">&#xe75f;</i>
       <span>足迹</span>
    </div>

    <!-- 没有商品时 -->
    <div class="no-product">
        <div>
            <img src="https://img.dmallcdn.com//dshop/201805/324b1ec1-0ada-410e-8970-23cc28812c9b" alt="">
            <p>购物车还木有商品?</p>
            <button>我要买买买</button>
        </div>
    </div>

    <!-- 商品 -->
    <div class="pro-list">
        <div class="store">
            <span class="all-Select"><i class="iconfont">&#xe671;</i></span>
            <img src="https://img.dmallcdn.com/bizItem/201610/5491eb6a-8a7b-4621-89ad-f22e904b6e7f" alt="">
            <p>多点超市(昌平西平关店)</p>
            <i class="iconfont">&#xe644;</i>
        </div>
       <div class="product">
            <span class="single-Select"><i class="iconfont">&#xe671;</i></span>
            <div>
                <p class="des">洋葱洋葱洋葱洋葱洋葱洋葱洋葱洋葱洋葱洋葱洋葱洋葱</p>
                <b class="price">￥23.90</b>
            </div>
            <div>
                <button class="sub">-</button>
                <span class="operate-num">3</span>
                <button class="add">+</button>
            </div>
       </div>
       <div class="product">
            <span class="single-Select"><i class="iconfont">&#xe671;</i></span>
            <div>
                <p class="des">洋葱洋葱洋葱洋葱洋葱洋葱洋葱洋葱洋葱洋葱洋葱洋葱</p>
                <b class="price">￥23.90</b>
            </div>
            <div>
                <button class="sub">-</button>
                <span class="operate-num">1</span>
                <button class="add">+</button>
            </div>
       </div>
    </div>

    <!-- 已经选好了 -->
    <div class="has-selected">
        <div>
            <p>合计：￥<b class="total-price">0.00</b>(不含运费)</p>
            <span>促销已抵扣金额：￥0.00</span>
        </div>
        <button>选好了</button>
    </div>
</div>


