<div class="locate">
   <div class="select-city">
       <span class="back-main"><i class="iconfont">&lt;</i></span>
       <select class="select">
            <option value="">请选择</option>
            <option value="北京">北京市</option>
            <option value="上海">上海市</option>
            <option value="成都">成都市</option>
       </select>
            
   </div> 
   <div class="detail-info">
       <input type="text" placeholder="小区、街道、大厦">
       <button>取消</button>
   </div>
   <div class="locate-address">
       <i class="iconfont">**</i>
       <span>定位到当前地址</span>
   </div>
   <div class="address-info">
       <i></i>
        <span>你还没有收获地址哦</span>
   </div>
   <div class="add-address">
       <div>
           <i class="iconfont"></i>
           新增收货地址
       </div>
   </div>
</div>