<div class="locate">
   <div class="select-city">
       <span class="back-main"><i class="iconfont">&#xe911;</i></span>
       <select class="select">
            <option value="">请选择</option>
            <option value="北京">北京市</option>
            <option value="上海">上海市</option>
            <option value="成都">成都市</option>
       </select>
            
   </div> 
   <div class="detail-info">
       <span><i class="iconfont">&#xe62a;</i></span>
       <input type="text" placeholder="小区、街道、大厦">
   </div>
   <div class="locate-address">
       <i class="iconfont">&#xe636;</i>
       <span>定位到当前地址</span>
   </div>
   <div class="address-info">
       <i class="iconfont">&#xe60d;</i>
        <span>你还没有收获地址哦</span>
   </div>
   <div class="add-address">
       <div>
           <i>+</i>
           <span>新增收货地址</span> 
       </div>
   </div>
</div>