<div class="topbar">
    <div class="location">
        <i class="iconfont">&#xe601;</i>
        <span>送至：昌平(地铁站)</span>
        <i class="iconfont">&#xe60b;</i>
    </div>
    <div class="search">
        <i class="iconfont">&#xe62a;</i>
    </div>
</div>
<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <a href="##" class="swiper-slide"><img  alt=""></a>
            <a href="##" class="swiper-slide"><img  alt=""></a>
            <a href="##" class="swiper-slide"><img  alt=""></a>
            <a href="##" class="swiper-slide"><img  alt=""></a>
            <a href="##" class="swiper-slide"><img  alt=""></a>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>