<div>
   <!-- 顶部状态栏 -->
    <div class="topbar">
        <div class="location">
            <i class="iconfont">&#xe601;</i>
            <span>送至：昌平(地铁站)</span>
            <i class="iconfont">&#xe60b;</i>
        </div>
        <div class="search">
            <i class="iconfont">&#xe62a;</i>
            <span>
                <img src="https://img.dmallcdn.com/store/201804/eda85a36-48fa-4b07-9618-04698d2fe8cb" alt="">
            </span>
        </div>
    </div>

    <!-- 轮播图 -->
    <div class="banner">
        <div class="banner-title">
            <div class="active">
                <span></span>
                <img src="" alt="">
            </div>
            <div>
                <span> </span>   
                <img src="" alt="">
            </div>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <a href="" class="swiper-slide"><img  alt=""></a>
                <a href="" class="swiper-slide"><img  alt=""></a>
                <a href="" class="swiper-slide"><img  alt=""></a>
                <a href="" class="swiper-slide"><img  alt=""></a>
                <a href="" class="swiper-slide"><img  alt=""></a>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 功能菜单区 -->
    <section class="menu">
    </section>

    <!-- 广告图 -->
    <div class="advertising">
        <!-- <a href="https://a.dmall.com/act/tJmjoHlC8AT.html?erpStoreId=10437&dmfrom=wx&from=wx&shareKey=1539405277544">
            <img src="https://img.dmallcdn.com/mIndex/201810/0f13a40b-da5f-4840-8c1a-6476cfff342f_750H" alt="">
        </a> -->
        <a href="">
            <img src="https://img.dmallcdn.com/mIndex/201807/47a84856-ac4e-4d05-8263-8ac8dd4a25e2_480x480H" alt="">
        </a>
        <a href="">
            <img src="https://img.dmallcdn.com/mIndex/201808/b421a19e-ebcc-4707-9759-a5d1e1ce6415_480x480H" alt="">
        </a>
    </div>

    <!-- 促销 -->
    <!-- <div class="promotion">
        <a href=""><img src="" alt=""></a>
        <a href=""><img src="" alt=""></a>
        <a href=""><img src="" alt=""></a>
    </div> -->

    <!-- 主题乐园 -->
    <div class="theme">
        <img src="" alt="">
        <div class="theme-img">
            <a href=""><img src="" alt=""></a>
            <div>
                <a href=""><img src="" alt=""></a>
                <a href=""><img src="" alt=""></a>
            </div>
        </div>
    </div>

    <!-- 超市优选 -->
    <div class="supermarket">
        <img src="" alt="">
        <div class="market-list"></div>
    </div>
    
</div>