<div>
    <div class="top">
        <p>Hello,普通会员</p>
        <div class="member_icon">
            <a href="##">
                <i class="iconfont">&#xe606;</i>
                <span>会员中心</span>
            </a>
            <a href="##">
                <i class="iconfont">&#xe654;</i>
                <span>会员专属码</span>
            </a>
        </div>
        <div class="menu_list">
            <a href="">
                <i>￥0.00</i>
                <em>余额</em>
            </a>
            <a href=""> <i>0</i>
                <em>积分</em></a>
            <a href=""> <i>0</i>
                <em>成长值</em></a>
            <a href=""> <i>0</i>
                <em>优惠券</em></a>
        </div>
    </div>
    <div class="share">

    </div>
    <div class="empty"></div>
    <div class="img_area">

    </div>
</div>