<div class="top_cont">
    <div class="qiandao">
        <p>去签到</p>
    </div>
    <div class="left_cont">
        <img src="//img.dmallcdn.com/common/b8cb181b-5e07-4e6a-97f1-6ef1789c2cb1" alt="">
        <div>
            <p>你好</p>
            <div>
                <p>普通会员</p>
            </div>
        </div>
    </div>
    <div class="right_cont">
        <div>
            <p>会员优惠码</p>
            <p>仅限App使用</p>
        </div>
        <i class="iconfont">&#xe654;</i>
    </div>
</div>
<div class="order">
    <p>我的订单</p>
    <p>全部订单</p>
</div>
<div class="pay_menu">
    <div>
        <i class="iconfont">&#xe936;</i>
        <em>待支付</em>
    </div>
    <div>
        <i class="iconfont">&#xe90f;</i>
        <em>待发货</em>
    </div>
    <div>
        <i class="iconfont">&#xe882;</i>
        <em>已发货</em>
    </div>
</div>
<div class="empty">

</div>
<h2>我的资产</h2>

<div class="money_menu">
    <div>
        <i>￥0.00</i>
        <em>余额</em>
    </div>
    <div>
        <i>0</i>
        <em>积分</em>
    </div>
    <div>
        <i>￥0.00</i>
        <em>卡包</em>
    </div>
    <div>
        <i>0</i>
        <em>优惠券</em>
    </div>
</div>
<div class="empty">

</div>
<h2>我的服务</h2>

<div class="vip_menu">
    <div>
        <i class="iconfont">&#xe606;</i>
        <em>会员中心</em>
    </div>
    <div>
        <i class="iconfont">&#xe601;</i>
        <em>收货地址</em>
    </div>
    <div>
        <i class="iconfont">&#xe91e;</i>
        <em>帮助中心</em>
    </div>
    <div>
        <i class="iconfont">&#xe90f;</i>
        <em>客服电话</em>
    </div>
    <div>
        <i class="iconfont">&#xe75f;</i>
        <em>体验APP</em>
    </div>
    <div>
        <i class="iconfont">&#xe897;</i>
        <em>发票中心</em>
    </div>
    <div>
        <i class="iconfont">&#xe936;</i>
        <em>绑卡</em>
    </div>
    <div>
        <i class="iconfont">&#xe885;</i>
        <em>自由购</em>
    </div>
    <div>
        <i class="iconfont">&#xe89e;</i>
        <em>设置</em>
    </div>
    <div>
        <i class="iconfont">&#xe889;</i>
        <em>购物袋</em>
    </div>
</div>