<div>
        <div class="search_t">
            <i class="iconfont  ret">&#xe911;</i><input type="text" placeholder="搜索想要的商品">
            <i class="iconfont search_i">&#xe62a;</i>
        </div>
        <div class="search_c">
            <p>热门搜索</p>
            <ul class="hot_list">
               <li>卫生纸</li>
               <li>纸巾</li>
               <li>榨菜</li>
               <li>方便面</li>
               <li>抽纸</li>
            </ul>
        </div>
        <div class="search_b">
            <p>历史搜索</p>
            <ul class="search_list">
               
            </ul>
        </div>
    </div>